
/* asdasdasdasd */

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* $minwidth:320px; */

* {
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    border: 0px
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
a:active {
    outline: none;
}
aside,nav,footer,header,section {
    display: block;
}
a:focus,
:active {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

html,
body {
    height: 100%;
    min-width: 320px;
}
body {
    

}
a:focus,
:active {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.wrapper {
    display: flex;
    overflow: hidden;
    min-height: 100%;
    font-display: column;
    margin: 0px auto;   
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1440px;
   
    padding: 0px 15px;
        margin: 0 auto;
        
}
header {
    
    width: 100%;
    background-color: black;
    height: 100px;
    
    
    

}
.headerrow {
    display: flex;
        justify-content: space-between;
        align-items: center;    
        color: #FAFAFA;
        height: 100px;
        
}


/* Логотип */
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.logo-text {
    display: flex;
    flex-direction: column;
    line-height: 0.8;
    font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal;
}
.logo-text .line1 {
    color:#FAFAFA;
    font-size: 24px;
}
.logo-text .line2 {
    color: #FAFAFA;
    font-size: 28px;
}
/* Конец Логотип */

.headerrow ul {
    position: relative;
    display: flex;
}
.headerrow ul li {
    list-style: none;
}
.headerrow ul li a {
    display: inline-block;
    color:#FAFAFA;
    margin-left: 40px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 14px;
}
.header-phone {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color:#FAFAFA;
}
.header-phone a {
text-decoration: none;
color:inherit;
font-size: 20px;
line-height: 26px;
font-weight: 700;
transition: color 0.3ms;
}
.header-phone a:hover {
color: #ffffff;
}
.phone-icon {
    width: 25px;
} 